.actionbar {
  min-height: 50px;  
  color: black;
  padding-top: 0.5em;
}
.actionbar-fixed-bottom {
  bottom: 0px;
  position: fixed;
  z-index: 1029;
  margin-bottom: 0px;
  background-color: #c0c0c0;
  color: white;
  width: 100%;
  left: 0;
  &.maximized {
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (min-width: 992px) {
  .actionbar-fixed-bottom {

    &.maximized {
      margin-left: 60px;
    }
  }
}  
