.file-drop-zone {
	border: 3px dotted rgba(208, 208, 208, 1);
	border-width: 3px;
	transition: .3s all;
	margin-top: 5px;

	&.active {
		border: 3px dotted rgba(0,0,0,0.5);
	}

	.file-drop-message {
		display: block;
		background-color: #c0c0c0;
	}
}


input[type="file"].box__file {
  display: none
}

.browse { cursor: pointer; }

.folder-search {
	width: 97%;
	margin: -13px 0 8px 4px;
}

.upload-queue-form-group {
	margin-bottom: 0;
	.top { 
	    display: flex; 
	    .doc-icon { width: 20px; }
	    .doc-name { 
	      flex-grow: 1;
	      text-overflow: ellipsis;
	      overflow: hidden;
	      white-space: nowrap;
	    }
	    .doc-tools { 
	      margin-left: 9px;
	      width: 48px; 
	      text-align: right;
	  	}
	  }
	.upload-queue-form-group-description {
		margin-top: 6px;
	}
}

#treelist tbody tr.treelist-folder {
	height: 44px;
    background-color: #a2a2a2;
    color: white;
}