@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSans/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Raleo';
  src: url('../../fonts/Raleo/Raleo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
