/* page header */
.breadcrumb { 
  background-color: transparent;
  padding: 0;
}

.breakbar {
  padding: 0.4em;
  background-color: rgb(203, 203, 203);
  border-radius: 2px;
}
/* end page header */

@media only screen and (max-width: $grid-float-breakpoint) {
  .nav-pills > li { float: none; }
}

