#topbar {  
  background-color: $ipreo-blue;
  color: white;
  padding: 1em 0;
  margin-top: $topbar-margin-top;
  .maximize-topbar { 
    color: $color-muted-white;
    display: none; 
  }
  .minimize-topbar { color: $color-muted-white; }
  .content-minimized { display: none; }
  .min-top { margin-top: 7px; }
  .container-fluid {  }
  &.minimized {
    height: 40px;
    nav h3 { margin-top: -4px; }
  }
}