@import "../../bower_components/font-awesome/css/font-awesome.css";
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Raleo';
  src: url('../fonts/Raleo/Raleo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

* { font-family: $font-family-base; }

.page-title { 

}
.section-title, .workflow-title {
  margin-bottom: 1.5em;
}
.title-description { 
  margin-top: -3em;
  margin-bottom: 3em;
}
