$font-family-base: 'OpenSans';
$ipreo-blue: #0079bd;
$offset: 250px;
$sidebar-margin-top: 55px;
$topbar-margin-top: 45px;
$bar-content-margin-top: 75px;
$sidebar-minimized: 60px;
$color-muted-white: #eee;