@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/css/font-awesome.css";
@import "_vars";

@import "_actionbar";
@import "_card";
@import "_fonts";
@import "_mainwindow";
@import "_navs";
@import "_sidebar";
@import "_topbar";
@import "_typography";
@import "_util";

* { font-family: $font-family-base; }



/* LESS only for dev illustration */
/* @grid-float-breakpoint: 640px; */

#mainWindow {
  .highlight-grid [class^="col"] {
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
    background-color: $color-muted-white;   
    border: 1px solid #ddd;
  }  
}
/* end illustration */

html, body, #main {
  min-height: 100%;
  height: 100%;
  display: block;
  background-color: $ipreo-blue;
}


.global-search { 
  display: none;
  padding: 4px 20px;
  background-color: white;
  border-radius: 4px;
}


/* menu */
.menu-backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1029;
  background-color: #000;
  &.fade { transition: 0.5s all; }
  &.in { opacity: 0.5; }
}



/* Guide only CSS */
.samplePage {
   border: 2px solid rgb(170, 170, 170);
   background-color: white;
   transition: all .2s;
   padding-top: 1em;
   padding-bottom: 2em;
  margin-bottom: 1em;
   &:hover{
    box-shadow: 0px 2px 6px #bbb;
   }
   &:before {
    content: "SAMPLE";
    color: #777;
   }
}
code { color: #1960B0; }
/* end guide only */

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
}

@media only screen and (max-width: $grid-float-breakpoint) {
  .nav-pills > li { float: none; }
  .show-mobile { display: inline; }
}

/* page header */
.breadcrumb { 
  background-color: transparent;
  padding: 0;
}

.breakbar {
  padding: 0.4em;
  background-color: rgb(203, 203, 203);
  border-radius: 2px;
}
/* end page header */


