@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/kendo/styles/web/kendo.common.min.css";
@import "../../bower_components/kendo/styles/web/kendo.bootstrap.min.css";
@import "_vars";

@import "_actionbar";
@import "_buttons";
@import "_card";
@import "_forms";
@import "_header";
@import "_layout";
@import "_navs";
@import "_panel";
@import "_search";
@import "_sidebar";
@import "_topbar";
@import "_typography";
@import "_util";
@import "_well";
@import "_dragndrop";
@import "_prototype";


/* LESS only for dev illustration */
/* @grid-float-breakpoint: 640px; */


/* Guide only CSS */
.samplePage {
   border: 2px solid rgb(170, 170, 170);
   background-color: white;
   transition: all .2s;
   padding-top: 1em;
   padding-bottom: 2em;
   margin-bottom: 1em;
   &:hover{
    box-shadow: 0px 2px 6px #bbb;
   }
   &:before {
    content: "SAMPLE";
    color: #777;
   }
}
code { color: #1960B0; }

#mainWindow {
  .highlight-grid [class^="col"] {
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
    background-color: $color-muted-white;   
    border: 1px solid #ddd;
  }  
}
/* end guide only */
