<section id="topbar" class='hidden-md hidden-lg minimized'>
  <div class='container-fluid'>
    <nav>
      <h3 class='pull-right min-top'> <i class='fa fa-angle-double-up minimize-topbar'></i> </h3>
      <h3 class=pull-right> <i class='fa fa-angle-double-down maximize-topbar'></i> </h3>
    </nav>
    <div class='content-maximized'>
      <h4>Topbar Title</h4>
      <form class="form-inline">
        <div class="form-group">
          <label for="exampleInputEmail1">Filter 1</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="filter">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Filter 2</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="filter">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox">
            I want data </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <div class='content-minimized'> <i class='fa fa-filter'></i> </div>
  </div>
</section>